@import "./mixin.scss";
@import "./variables.scss";

.filters-content {
    width: 100%;
    .title {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            @include title-filter;
        }
    }
    .filter-list-content {
        width: 100%;
        .filter-list {
            width: 100%;
            p {
                font-size: 16px;
            }
            .button-filter {
                @include btn-filter;
            }
            .button-filter:hover {
                @include btn-filter-hover;
            }
        }
    }
    .line {
        border-bottom: 1px solid $grey-border-buttons;
        width: 70%;
        margin: 1em auto 1em auto;
    }
}

.filterBtn {
    display: -webkit-flex;
    display: flex;
    margin: -2.5rem 0;
    cursor: pointer;
    width: 100%;
    position: absolute;

    :nth-child(1) {
        margin-right: 0.5rem;
    }

    p {
        font-size: 0.8rem;
    }
}

.hideWrapperFilter {
    animation: hideWrapper 0.3s forwards ease-in-out;
}

.showWrapperFilter {
    animation: showWrapper 0.3s forwards ease-in-out;
}

.active-filters {
    animation: fadeFilters 0.5s forwards ease-in-out;
}

.hidden-filters {
    animation: fadeFiltersOut 0.5s forwards ease-in-out;
}

@keyframes hideWrapper {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(-100, 0, 0);
        width: 0;
        overflow: hidden;
        flex-shrink: 0;
    }
}
@keyframes showWrapper {
    0% {
        opacity: 0;
        transform: translate3d(-100, 0, 0);
        width: 0;
        overflow: hidden;
        flex-shrink: 0;
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        width: 20%;
    }
}

@keyframes fadeFilters {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeFiltersOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
}

// Rheostat
.DefaultBackground {
    border: none !important;
    background-color: white !important;
}

.DefaultProgressBar_progressBar {
    background-color: $grey-border-buttons !important;
}
