@import './variables.scss';
@import './mixin.scss';

.container {
    width: 90%;
    margin: 0 auto;
    display: none;
    margin-top: 2em;
}

.search-panel {
    position: relative;
}

// SEARCHBOX

.searchBox-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width: 100%;
        margin: 1rem auto;
        border-radius: 2px;
        border: 1px solid $third-color;
        padding: 0.6rem;
        background-color: $third-color;
        transition: 0.2s ease-in-out;

        &:focus {
            transition: 0.2s ease-in-out;
            background-color: white;
            outline: none;
        }
    }
}

// VOICESEARCH
.voiceSearch-wrapper {
    width: 100%;

    .ais-VoiceSearch {
        position: absolute;
        right: 3rem;
        top: 30%;
        cursor: pointer;
        .ais-VoiceSearch-button {
            position: unset;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}
.ais-VoiceSearch-status {
    display: none;
}

//SORT BY and STATS

.sort-and-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: -1rem auto 2rem auto;
    .ais-Stats-text {
        color: $title-filters-color;
    }
}
.ais-SortBy-select {
    @include btn-filter;
    .ais-SortBy-option {
        color: $title-filters-color;
        @include title-filter;
    }
}

//SEARCHRESULT

.hits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    .hit-list {
        position: relative;
        width: 30%;
        display: flex;
        flex-direction: column;
        border: $third-color solid 1px;
        margin: 0.2rem;
        padding: 1rem;
        z-index: 0;

        .infos {
            h3 {
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
                font-weight: 200;
            }
            .barred-price {
                background: linear-gradient(
                    to left top,
                    transparent 47.75%,
                    currentColor 49.5%,
                    currentColor 50.5%,
                    transparent 52.25%
                );
            }
            .price {
                display: flex;
                margin-top: 1em;
            }
        }

        .image-wrapper {
            width: 100%;

            img {
                width: 100%;
                background-image: $third-color;
                object-fit: cover;
                object-position: center;
                position: relative;
            }
        }

        .private-sale-img {
            width: 5em;
            position: absolute;
            z-index: 1000;
            border-radius: 10px;
            right: 0;
        }
    }
}

.searchPanel-results {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 3rem auto;
    position: relative;

    .filters-wrapper {
        width: 20%;
        will-change: width;
    }


    .hits-wrapper {
        width: 100%;
    }
}

.active {
    // display: block;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    display: block;
}

.hidden {
    // display: none;
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    100% {
        height: 100%;
        opacity: 1;
        visibility: visible;
        display: block;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    90% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
    }
}

// Switch button
.switch-button {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.display-results {
    display: flex;
    .hits-wrapper{
        width: 80%;
    }
}
